@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Mohave', sans-serif;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #735d78;
}

.page-title {
  font-size: 3.5rem;
  font-weight: lighter;
  margin: 30px;
}

nav a {
  font-size: 1.5rem;
}

#logout {
  font-size: 1.5rem;
  text-decoration: none;
  color: #735d78;
  font-weight: bold;
  transition: color 0.1s;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #735d78;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: rgb(32, 2, 49);
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  margin: 5px;
  border-bottom: 1px solid #ccc;
  padding: 0 1%;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.title {
  font-size: 1.3rem;
  color: darkolivegreen;
}

.dashboard-title {
  text-align: center;
  margin: 1.5rem;
}

.create-post {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.post li {
  list-style-type: none;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
  font-size: 1rem;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
